Repository iinels-pes-001/caixa-comportamental-firmino, pull requests merged in 2019-09, with the labels that each got.

#9 Atualizando README (Issue #7)
  README.md
Labels: branch caixa-comportamental, documentation, etapa 01, etapa 02, sprint 001

#11 Etapa 2 - Issues #3, #4 e #5
  Etapa2.py
Labels: branch caixa-comportamental, etapa 02, sprint 001

#12 Adicionando Etapa1 (issue #2)
  caixa_etapa01.py
Labels: branch caixa-comportamental, etapa 01, sprint 001

#15 Refatorando etapa 2 (issue #13)
  Etapa2.py
Labels: branch caixa-comportamental-v2.0.0, etapa 02, sprint 002
